article {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
    @include breakpoint('large') {
        @include aspectRatio(3,2);
        margin-bottom: 5px;
    }

    &:hover {
        .article__info{
            transform: translateY(0);
        }
    }

    a {
        color: black;
        @include breakpoint('large'){
            color: white
        }
    }
}


.article__title{
    width: 100%;
    @include title;
    @include breakpoint('large'){
        width: calc(100% - 60px);

    }
    a{
        font-family: 'Roboto Slab', serif;
    }
}

.article__image{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.article__byline{
    display: flex;
    align-items: center;
}

.authorInfo__avatar{
    margin-right: 15px;;
    height: 40px;
    width: 40px;
    background: black;
    border-radius: 100%;
    z-index: 2;;
    position: relative;
    overflow: hidden;
    img{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.article__heading{
    margin-bottom: 15px;;
    z-index: 2;;
    position: relative;
    @include breakpoint('large'){
        display: flex;
    }
}

.article__info {
    margin-top: 15px;
    bottom: 0px;
    width: 100%;
    @include breakpoint('large'){
        padding: 20px 30px 10px;
        background: rgba(black, .3);
        padding: 20px 30px 10px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        
        &:before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
            filter: blur(10px);
        }
    }

    @include breakpoint('desktop'){
        transition: .3s transform;
        transform: translateY(60px);
    }
}

.article__byline{
    @include text;
    height: 50px;
    z-index: 1;
    position: relative;
    @include breakpoint('large'){
        padding-right: 40px;
    }
    
    span, p{
        padding-bottom: 0;
        @include text;
    }
}


.authorInfo__name{
    font-weight: 300;
    a{
        line-height: 1;
        color: rgba(grey, 10%);
        @include breakpoint('large'){
            color: white
        }
        &:hover{
            color: red;
        }
    }
}

.byline__title, .authorInfo__title{
    color: rgba(grey, 10%);
        @include breakpoint('large'){
        color: white
    }
}


.article__share {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    bottom: -60px;
    right: 0;
    cursor: pointer;

    @include breakpoint('large'){
        position: absolute;
        top: -11px;
        bottom: auto;
    }
    
    svg{
        position: relative;
        top: 4px;
        height: 40px;
        width: 40px;
        @include breakpoint('large'){
            top: 10px;
        }
        
    }
    path{
        fill: rgba(grey, 10%);
        @include breakpoint('large'){
            fill: white;
        }
    }

    &:hover{
        path{
            fill: red !important;
        }
    }
}

.article__imageContainer{
    @include aspectRatio(4,2.5);
    @include breakpoint('large'){
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

.shareText{
    color: rgba(grey, 10%);
    @include breakpoint('large'){
        display: none;
    }
}