.featureSection {
    width: 100%;
    @include breakpoint('large') {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -2.5px;
    }

    article{
        @include breakpoint('large') {
            margin: 0 2.5px 5px;
        }        

        &.feature{
            @include breakpoint('large') {
                &:before{
                    padding-top: 0;
                }
            }

            h3{
                font-size: 30px;
                line-height: 32px;
            }

            .article__info{
                transform: translateY(0);
            }
        }
    }
}

.featureSection__featured {
    @include breakpoint('large') {
        display: flex;
        width: 50%;
    }
}

.featureSection__aside {
    @include breakpoint('large') {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
}


.article__imageContainer{
    @include aspectRatio(4,2.5);
    @include breakpoint('large'){
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
