main {
    @include breakpoint('large') { 
        width: 70%;
        display: flex;

    }
}

aside{
    background: pink;
    @include breakpoint('large') {
        margin-left: $spacing-gutter;
        width: calc(30% - 60px);

    }
}

.featureSection{
    width: 100%;
    @include breakpoint('large') {
        display: flex;
        background: yellow;
        flex-wrap: wrap;
        margin: 0 -2.5px;
    }
    

    article{
        @include breakpoint('large') {
            margin: 0 2.5px 5px;
        }        
    }
}

article {
    width: 100%;
    @include aspectRatio(3,2);
    background: pink;
    &:nth-child(even) {
        background:#eee;
    }
}

.featureSection__featured {
    @include breakpoint('large') {
        display: flex;
        width: 50%;
    }
}

.featureSection__aside{
    @include breakpoint('large') {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
}
