main {
    @include breakpoint('large'){
        width: 100%
    }
    @include breakpoint('desktop') { 
        width: 70%;
        display: flex;
    }
}

aside{
    @include breakpoint('large'){
        width: 100%
    }

    @include breakpoint('desktop') {
        margin-left: $spacing-gutter;
        width: calc(30% - 60px);
    }
}
