main {
    @include breakpoint('large') { 
        width: 70%;
        display: flex;

    }
}

aside{
    background: pink;
    @include breakpoint('large') {
        margin-left: $spacing-gutter;
        width: calc(30% - 60px);

    }
}
