*{
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

p{
    margin: 0;
    padding-bottom: 15px;
}


@mixin featuredTitle {
    @include breakpoint('large'){
        font-size: 30px;
        line-height: 32px;
    }
}

@mixin title {
    font-size: 24px;
    line-height: 26px;
    @include breakpoint('large'){
        font-size: 21px;
        line-height: 25px;
    }
}

@mixin text {
    font-size: 13px;
    line-height: 28px;
    @include breakpoint('large'){
        font-size: 17px;
        line-height: 20px;
    }
}

@mixin titleSmall {
    font-size: 18px;
    line-height: 22px;
    @include breakpoint('large'){
        font-size: 19px;
        line-height: 23px;
    }
}
