$default-breakpoint: root;
$current-breakpoint: $default-breakpoint;

$breakpoints: (
    'small': 500px,
    'large': 790px,
    'desktop': 1000px,
    'max': 1200px,
);

$breakpoint-directions: (
    "min": "min-width",
    "max": "max-width"
);
